parameters:
    level: 6

    paths:
        - src

    ignoreErrors:
        -
            identifier: missingType.iterableValue

    universalObjectCratesClasses:
        - Azura\Session\NamespaceInterface
        - Azura\View
